{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Блог{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>

<header>
    <div class="container header-bar">
        <h1 class="site-logo">
            <span class="logo-icon">◆</span>
            <a href="{% url 'home' %}">Мой блог</a>
        </h1>

        <nav class="site-nav">
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'about' %}">О блоге</a>
            <a href="{% url 'reviews' %}">Отзывы</a>
        </nav>
    </div>
</header>



<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>© Учебный блог</p>
</footer>

</body>
</html>
